@use '../lib/helper';
@use '../lib/variables';

.dialog {
  @include helper.backdrop-blur($opacity: 0.6);

  border-radius: variables.$border-radius !important;

  // Remove default background color from filter dialog section dropdown, as it's already blurred
  .collapseContent {
    background-color: transparent;
  }

  .actionSheetContent > .actionSheetScroller {
    .actionsheetDivider {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .actionSheetMenuItem:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

// For message toasts
.toast {
  @include helper.backdrop-blur($opacity: 0.6);

  min-width: min-content;
  max-width: 36rem;
}
