@use '../lib/helper';

// Blur navbar background
.skinHeader {
  @include helper.backdrop-blur();

  // Override navbar on preview page
  &.semiTransparent {
    @include helper.backdrop-blur($override: true);
  }
}
