@use '../lib/helper';
@use '../lib/variables';

.playerStats {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: none;
  transition: all 200ms;
  transition-property: background-color, backdrop-filter;

  &:hover {
    @include helper.backdrop-blur($opacity: 0.6);
  }
}

// Volume tooltip when changing volume
.iconOsd {
  @include helper.backdrop-blur($opacity: 0.6);
}

// Tooltip above the volume buttons
.volumeButtons .sliderBubble {
  border-radius: variables.$border-radius;

  @include helper.backdrop-blur($opacity: 0.6);
}

// Fix weird black bar on chapter slider tooltip
.osdControls .sliderBubble {
  border-radius: variables.$border-radius;

  .chapterThumbContainer {
    display: flex;
    overflow: hidden;
    border-radius: variables.$border-radius;
  }
}
