@use '../lib/variables';

.layout-desktop .listItem-withContentWrapper {
  padding: 1rem;
  border-radius: variables.$border-radius;
  transition: background-color 200ms;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.layout-mobile .listItem-bottomoverview {
  margin: 1rem 0;
}

.listItem-withContentWrapper > .listItem-content > .listItemImage {
  border-radius: variables.$border-radius;
}
