@use '../lib/variables';

.listItem-withContentWrapper {
  border-radius: variables.$border-radius;

  .layout-desktop & {
    padding: 1rem;
    transition: background-color 200ms;

    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .layout-mobile & {
    padding: 0.5rem;

    .listItem-bottomoverview {
      margin-top: 0.5rem;
      margin-bottom: 0;
    }
  }

  .listItem-content > .listItemImage {
    border-radius: variables.$border-radius;
  }
}

// TODO: Handle darkening the image on hover
