@use '../lib/helper';
@use '../lib/variables';

// Widget container
.paperList {
  border-radius: variables.$border-radius;
}

// Prevent server info widget to overflow too much
.dashboardSection > .paperList:has(#serverName) {
  display: grid;
}
