$blur_intensity: 1rem;

// Blur navbar background
.skinHeader {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur($blur_intensity);

  // Override navbar on preview page
  &.semiTransparent {
    backdrop-filter: blur($blur_intensity) !important;
  }
}
